*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: lightcyan;
}

header {
  height: 4em;
}

footer {
  margin-top: 3em;
  height: 3em;
  padding-left: 1em;
}

header,
footer {
  display: flex;
  align-items: center;
  background-color: lightseagreen;
}

header h1 {
  padding-left: 40%;
}

footer a {
  text-decoration: none;
  color: blue;
}

.container {
  display: table;
  width: 100%;
  padding-top: 3%;
}

.list-container {
  /* center verticaly */
  display: table-cell;
  vertical-align: middle;
}

#todo-list {
  width: 40%;
  margin: auto;
  border: 1px solid grey;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
  width: 100%;
  height: 3em;
  padding: 0 8px;
  border-bottom: 1px solid grey;

  /* center verticaly */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: larger;
  font-weight: bold;
}

input.add-input {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: large;
}

input.checkbox {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  width: 2em;
}

label {
  font-size: larger;
}

.clear-list {
  padding: 0 35%;
  background-color: aliceblue;
}

svg.three-dots:hover {
  cursor: move;
}
